@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v9/SLXLc1nY6HkvalqKbI6O59ZMaA.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v9/SLXLc1nY6HkvalqKbI6F59ZMaA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v9/SLXLc1nY6HkvalqKbI6L59Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url(./img/KuwaitCodesWallpaper.png);
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;
  
}
.nav-elements {
  display: flex;
  justify-content: space-between;
  width: 150px;

}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 13px 13px 20px black;
  border-radius: 12px;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 0 4px 8px black;
  border-radius: 50%;
}

.hobbies {
  /* المطلوب السادس هنا */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image:hover{
  transform:translate(0, -50px);
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
